
#megaf, #megaf2{
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

#Contenedor2_{
    width: 100%;
    min-height: 100vh;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;

}
#Minih1{
    margin-top:2px;
}
#Contenedor2{
    background-color: #fadc52;
    padding: 5px;
    border-radius: 10px;
    width: 80%;
    height: 95%;
}
@media(min-width:600px){
    #Contenedor2{
        padding: 20px;
    width: 60%;
    height: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        justify-content: center;
        align-items: center;
    }
    #megaf{
        grid-row: 1/2;
        grid-column: 1/2;
    }
    #megaf2{
        grid-row: 1/2;
        grid-column: 2/3;
    }
    }
.icons{
    width: 30px;
    margin: 0 10px 0 10px;
}
.Logo2{
    width: 20vh;
}
.Group{
    margin: 0;
}
#userInput{
    border-radius: 10px;
    background-color: transparent;
    border:1px solid blue;
    height: 40px;
    width: 230px;
    background-image: url(/images/User.png);
    background-position: 5px center;
    background-repeat: no-repeat;
    background-size: 35px;
}
#contraInput{
    border-radius: 10px;
    background-color: transparent;
    border:1px solid blue;
    height: 40px;
    width: 230px;
    background-image: url(/images/Password.png);
    background-position: 1px center;
    background-repeat: no-repeat;
    background-size: 45px;
}