.Foto {
    width: 13vh;
}

.MarginO {
    margin: 0;
}

.AlgoasaDkaso {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.algooooo {
    width: 40%;
}

#Cambio {
    display: none;
}

#Chat {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    background-color: #fadc52;
    ;
    padding: 0;
}

#titleChat {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightgray;
}

#AgregarUsuarios {
    padding: 5px;
    width: calc(100% - 10px);
    display: flex;
    justify-content: flex-end;
}

.Agregar {
    cursor: pointer;
    width: 50px;
}
.Flexito{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.mt{
    margin-top: 10px;
}
#MainChats {
    margin-top: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: calc(100vh - 130px);
}

.CirculoChat {
    width: 50px;
    height: 50px;
}

.CardChat {
    padding: 2px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gray {
    color: gray;
    font-size: 12px;
}

#PopUpChat,#PopUpChat_1 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.4);
    display: none;
    justify-content: center;
    align-items: center;
}

#PopUpChat2 {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 30%;
    padding: 10px;
    height: max-content;
    background-color: #fadc52;
}
.search{
    width: 30px;
}
.filtrar{
    width: 30px;
}
.Flexito2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
}
.headerPag11_1{
    width: 100%;
    height: 160px;
    background-color:lightgray;
}
.headerPag11_2{
    width: 100%;
    height: 40px;
    background-color: lightgray;
}
.MainPag11_1{
    width: 100%;
    min-height: calc(100vh - 160px);
    background-color: #fadc52;
}
.MainPag11_2{
    width: 100%;
    height: calc(100vh - 40px);
    background-color: #fadc52;
}
#Abdomen{
    background-image: url(/images/buscar.png);
}
#SubirR{
    background-image: url(/images/Rutinas2.png);
}
#MisR{
    background-image: url(/images/Dropbox.png);
}
.center{
    text-align: center;
}
@media(max-width:500px) {
    #PopUpChat2 {
        width: 90%;
        height: max-content;
        background-color: #fadc52;
    }
}